  @keyframes color {

    5%{
      background-color: #ff627f;
    }

    17% {
      background-color: #ff627f;
    }

    34% {
      background-color: #80a8ff;
    }

    51% {
      background-color: #b774f5;
    }

    68% {
      background-color: #77cdfe;
    }

    85% {
      background-color: #ec5d9d;
    }

    100% {
      background-color: #ec5d9d;
    }

  }

  .container_background{
    background-color: #80a8ff;
    /* -webkit-animation: color 60s ease-in-out infinite;
    -moz-animation: color 60s ease-in-out infinite;
    -o-animation: color 60s ease-in-out infinite;
    animation: color 30s ease-in-out infinite; */
  }

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px 0;
}


.header {
  background-image: url('../images/bg.png');
    background-size: cover;
    height: 100vh;
}

.header-inner{
    display: flex;
    justify-content: end;
}


.menu__button {
  display: none;
}

.menu{
  padding-right: 30px;
}

.header-inner{
  position: absolute;
  right: 0;
}

.header-inner.shadow{
  position: absolute;
  position: fixed;
  right: 0;
  z-index: 1;
}

.menu ul{
  position: relative;
  top: 40%;
  padding-right: 25px;
  text-align: center;
}


.menu ul::after {
  content: '';
  position: absolute;
  width: 2px;
  height: 100%;
  right: 0;
  top: 0;
  background: white;
}

.menu a {
  font-family: 'Gemunu Libre', sans-serif;
  font-size: 30px;
  line-height: 60px;
  letter-spacing: 0.6px;
  text-decoration: none;
  color: white;
  transition: all .3s;
  text-transform: uppercase;
  padding: 0 15px 0 15px;
}

.menu a:hover {
  background: #ee2b7f;
}

.menu ul li{
  padding: 60px 0;
}

.menu ul li a:before{
  content: '';
  position: absolute;
  background: white;
  width: 30px;
  height: 30px;
  left: 205px;
  border-radius: 50%;
  border: 3px solid #ee2b7f;
  z-index: 1;
  transition: all .5s;
}

.menu ul li a.active{
  border: none;
  color: white;
  font-style: inherit;
  box-shadow: none;
  transition: all .5s;
  border-bottom: 1px solid #ee2b7f;
}

.menu ul li a.active::before{
  background-color: #ee2b7f;
  width: 40px;
  height: 40px;
  left: 200px;
  transition: 1s;

}

.title {
  font-size: 64px;
  box-shadow: 7px 6px 8px 3px black;
  color: white;
  margin-top: 100px;
  margin-bottom: 50px;
  text-align: center;
}

.title::after {
  content: '/';
  color: #ee2b7f;
}

.logotype__title{
  margin-top: 50px;
  margin-bottom: 20px;
}

.logotype__items{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.logotype__item-img{
  width: 300px;
  height: 300px;
  margin-bottom: 80px;
  margin-top: 50px;
  opacity: 1;
  transition: all .3s;
  border: 2px solid black;
  box-shadow: 0px 3px 8px 3px black;
  background-color: white;
  border-radius: 50%;
}

.logotype__item-img:hover{
  box-shadow: 0px 0px 40px 5px #ee2b7f;
  border: 2px solid rgb(4, 4, 116);
    width: 330px;
    height: 330px;
}

.branding__title{
    margin-top: 100px;
    margin-bottom: 100px;
}

.branding__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.branding__item-img{
    width: 500px;
    height: 667px;
}

.branding__item{
  margin-bottom: 100px;
  position: relative;
  padding: 20px;
  border: 8px solid white;
  transition: all .3s;
}

.branding__item:hover{
  border: 8px solid #ee2b7f;
}

.branding__hover{
  width: 500px;
  height: 667px;
  position: absolute;
  top: 20px;
  border-radius: 20%;
}

/* .branding__hover:hover{
  background-color: rgb(4, 4, 116);
  opacity: 0.2;
} */

.pricing__items{
  display: flex;
  justify-content: space-between;
  padding-top: 100px;
  padding-bottom: 150px;
}

.pricing__item{
  display: flex;
  width: 370px;
  height: 500px;
  font-family: 'Gemunu Libre', sans-serif;
  background-color: none;
  color: black;
  position: relative;
  border-right: 1px solid white;
}

.pricing__item-text{
  width: 185px;
  font-size: 16px;
  line-height: 39px;
  text-align: center;
  position: relative;
  font-weight: normal;
  background-color: #ee2b7f;
}

.pricing__item-subtext{
  width: 185px;
  font-size: 15px;
  line-height: 43px;
  text-align: center;
  color: white;
  background-color: none;
}

.pricing__item-text p{
  margin-bottom: 36px;
  border-top: 1px solid white;
}

.pricing__item-text p:first-child{
  border-top: none;
}

.pricing__item-subtext p{
  margin-bottom: 32px;
  /* border-bottom: 1px solid white; */
  border-top: 1px solid white;
}

.pricing__item-subtext p:first-child{
  border-top: none;
}
.pricing__item-subtext p:last-child{
  border-bottom: none;
}


.text1{
  color: white;
}

.text2{
  color: white;
}

.subtext2{
  color: white;
  font-size: 16px;
}

.text3{
  color: white;
}

.subtext3{
  color: white;
}

.text1 p{
  margin-bottom: 70px;
  line-height: 39px;
}

.subtext1 p{
  margin-bottom: 70px;
  line-height: 39px;
}

.text2 p{
  margin-bottom: 70px;
  line-height: 39px;
  /* border-top: 1px solid white; */
  /* border-bottom: 1px solid white; */
}

.text2 p:last-child{
  border-bottom: none;
}
.subtext2 p{
  margin-bottom: 70px;
  line-height: 39px;
  /* border-bottom: 1px solid white; */
  /* border-top: 1px solid white; */
}

.subtext2 p:last-child{
  border-bottom: none;
}

.pricing__item-icon{
  position: absolute;
  bottom: 100%;
  width: 370px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  letter-spacing: 5.2px;
  font-family: none;
  font-weight: normal;
  color: #ee2b7f;
  background-color: white;
}

.icon1{
  padding: 25px 150.5px 25px;
}
.icon2{
  padding: 25px 117px 25px;
}
.icon3{
  padding: 25px 114px 25px;
}

.pricing__btn {
  position: absolute;
  top: 100%;
  width: 370px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  letter-spacing: 5.2px;
  font-family: none;
  font-weight: normal;
  color: #ee2b7f;
  background-color: white;
  transition: all .3s;
}

.pricing__btn-link {
  color: #ee2b7f;
  padding: 15px 70px;
  transition: all .3s;
}

.pricing__btn-link:hover{
  color: white;
  background-color: #ee2b7f;
}